* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: #FAFAFA;
  --bg-2: #F2F2F2;
  --bg-3: #F2F2F2;
  --bg-4: #EBEBEB;
  --stroke: #E0E0E0;
  --stroke-bright: #CDCDCD;
  --subtext: #7D7D7D;
  --text: #1A1A1A;
  --button: #161618;
  --success: #12B30D;
  --bg-success: #D9F7D7;
  --bg-dark-success: #B8EFB4;
  --error: #EE2C2C;
  --bg-error: #F7D7D8;
  --active: #3A98FE;
  --bg-dark-active: #D7EBFF;
  --bg-active: #E9F4FF;
  --warning: #F6C13C;
  --bg-warning: #FFF2DD;
  --purple: #673CF6;
  --bg-purple: #E5DDFF;
  

  --transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  --xxs: 4px;
  --xms: 6px;
  --xs: 8px;
  --sm: 12px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --xxl: 48px;
  --xxxl: 64px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--bg-2);
  border-radius: var(--lg);
}

body {
  padding: var(--xms);
  
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/dm-sans_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/dm-sans_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


h1,
h2,
h3 {
  font-family: "DM Sans";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}


h4,
h5,
h6,
input,
label,
textarea,
span,
li {
  font-family: "DM Sans";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

h1.plus {
  font-size: 40px;
  line-height: 115%;
}

h1 {
  font-size: 32px;
  letter-spacing: -2.5%;
}


h2 {
  font-size: 22px;
}

h3,
input,
textarea {
  font-size: 17px;
}

h4,
span,
li {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.underline {
  text-decoration: underline;
}

.relative {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

button {
  background: none;
  border: none;
  cursor: pointer !important;
  padding: 0;
  font: inherit;
}

.icon {
  display: block;
}

.scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.border {
  border: 1px solid var(--stroke);
}

.center-text {
  text-align: center;
}

.flex-horiz {
  display: flex;
  flex-direction: row;
}

.flex-vert {
  display: flex;
  flex-direction: column;
}

.just-cont-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-grey {
  color: var(--subtext)
}

.text-active {
  color: var(--active)
}

.text-stroke-bright {
  color: var(--stroke-bright)
}

.hover {
  padding: var(--xxs);
  border-radius: var(--xms);
}

.hover:hover {
  background-color: var(--bg-2);
}



.gap-xxs {
  gap: var(--xxs);
}

.gap-xms {
  gap: var(--xms)
}

.gap-xs {
  gap: var(--xs);
}

.gap-sm {
  gap: var(--sm);
}

.gap-md {
  gap: var(--md);
}

.gap-lg {
  gap: var(--lg);
}

.gap-xl {
  gap: var(--xl);
}

.gap-xxl {
  gap: var(--xxl);
}

.gap-xxxl {
  gap: var(--xxxl);
}


.width-xxs {
  width: var(--xxs);
}

.width-xms {
  width: var(--xms)
}

.width-xs {
  width: var(--xs);
}

.width-sm {
  width: var(--sm);
}

.width-md {
  width: var(--md);
}

.width-lg {
  width: var(--lg);
}

.width-xl {
  width: var(--xl);
}

.width-xxl {
  width: var(--xxl);
}

.width-xxxl {
  width: var(--xxxl);
}


.height-xxs {
  height: var(--xxs);
}

.height-xms {
  height: var(--xms)
}

.height-xs {
  height: var(--xs);
}

.height-sm {
  height: var(--sm);
}

.height-md {
  height: var(--md);
}

.height-lg {
  height: var(--lg);
}

.height-xl {
  height: var(--xl);
}

.height-xxl {
  height: var(--xxl);
}

.height-xxxl {
  height: var(--xxxl);
}


.padding-xxs {
  padding: var(--xxs);
}

.padding-xms {
  padding: var(--xms)
}

.padding-xs {
  padding: var(--xs);
}

.padding-sm {
  padding: var(--sm);
}

.padding-md {
  padding: var(--md);
}

.padding-lg {
  padding: var(--lg);
}

.padding-xl {
  padding: var(--xl);
}

.padding-xxl {
  padding: var(--xxl);
}

.padding-xxxl {
  padding: var(--xxxl);
}



.margin-xxs {
  margin: var(--xxs);
}

.margin-xms {
  margin: var(--xms)
}

.margin-xs {
  margin: var(--xs);
}

.margin-sm {
  margin: var(--sm);
}

.margin-md {
  margin: var(--md);
}

.margin-lg {
  margin: var(--lg);
}

.margin-xl {
  margin: var(--xl);
}

.margin-xxl {
  margin: var(--xxl);
}

.margin-xxxl {
  margin: var(--xxxl);
}
